---
# GitHub action to build and release "krun".
name: build-release
on:
  push:
    tags:
      - "v*.*"
jobs:
  build-release:
    strategy:
      fail-fast: false
      matrix:
        architecture: ["ubuntu-22.04", "ubuntu-22.04-arm"]
    runs-on: ${{ matrix.architecture }}
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: build
        run: sudo make release
      - name: release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: release-*
